[build]
command = "npm run build"
publish = "dist/client"

[build.environment]
NODE_VERSION = "20"

[[redirects]]
from = "/api/*"
to = "/.netlify/functions/server/:splat"
status = 200

[[redirects]]
from = "/*"
to = "/index.html"
status = 200

[dev]
command = "npm run dev"
targetPort = 5000
port = 8888
